<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="users.scss">
</head>
<body>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <%= render 'shared/flash_messages' %>
    </div>    
</div>  
<%= render 'user'%><br><br><br><br>  
    <div class="col-md-7 col-sm-7 col-lg-7">     
        <div class="form-group has-feedback">
        <label class="control-label">Fuzzy Keyword Search</label>
        <input type="text" class="form-control" placeholder="Search"/>
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>
</body>
</html>