<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="users.scss">
</head>
<body>
    <div class="row ">
    <div class="col-md-12 col-sm-12 col-lg-12">
    </div>              
  </div>
  <div class="row ">
    <div class="col-md-12 col-sm-12 col-lg-12">
    </div>              
  </div>
  <div class="row">
    <br>
    <div class="col-md-3 col-sm-3 col-lg-3">
      <ul class="nav nav-pills nav-stacked">
        <li class=" nav-first nav-home nav-path-selected active nav-item-1"><a href="/admin" target="_self"  class=" nav-first nav- home nav-item-1 "  >Dashboard</a></li>
        <li class=" nav-item-167"><a href="/Search/" target="_self"  class=" nav-item-167 ">Search</a></li>
        <li class=" nav-item-130"><a href="/files/" target="_self"  class=" nav-item-130 ">My Library</a></li>
        <li class=" nav-item-979"><a href="/audit/" target="_self"  class=" nav-item-979 ">View Messages</a></li>
        <li class=" nav-item-165"><%= link_to "Edit Profile",edit_user_path(current_user.id)%></li>
        <li class=" nav-last nav-item-1715"><a href="/custom/" target="_self"  class=" nav-last nav-item-1715 ">Delete Account</a></li>
      </ul>   
    </div>
    
    <!--<div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <h1>
                    <%= @user.first_name.upcase %>
                </h1>
            </section>
        </aside>
</div>-->
</body>
</html>