// Place all the styles related to the control_panel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-image:url("http://cdn2.cloudpro.co.uk/sites/cloudprod7/files/cloud%20storage1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}