// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* FORM PAGES */
html, body { /**Disables  the horizontal scroll by fixing the width**/
    max-width: 100%;
    overflow-x: hidden;
}
.signup{
  margin-left: -325px;
  border-right: thick solid #2c3e50;;
  
}
.login{
  margin-left:150px;

}
input[type=text],
input[type=email],
input[type=password] {
  color: #000070;
  width: 100%;
  border: 3px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #2c3e50;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}
